<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <body>
    <a href="auth/showLogInForm"> Авторизация </a> <br />
    <a href="auth/logout"> Выход </a> <br />
    <a href="UserSelector/ShowUsersList"> Список пользователей </a><br />
    <a href="UserSelector/ShowUserPhotos"> Просмотреть свои картинки </a><br />
    <a href="UserEditor/showAddPhotoForm"> Добавить фотографию </a> <br />
    <a href="UserEditor/showDelPhotoPage"> Удалить свои фотографии </a> <br />
    <a href="Reg/showRegForm"> Зарегистрироваться </a><br />
  </body>
</html>

