<!DOCTYPE html>
<html>
  <head>
    <title>Просмотр фотографий</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      img {
          max-height: 200px;
          min-height: 200px;
          border: #000 solid thin;
          border-radius: 10px;
      }
      div {
          min-height: 200px;
      }

    </style>
  </head>
  <body>
    <div>
      {% for photo in photos %} <img src="{{photo}}" alt="{{photo}}">
      {% endfor %}
    </div>
  </body>
</html>